@import "./base.css";
@import "./container.css";

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

.main {
    margin-left: 320px;
    margin-top: 50px;
    margin-right: 40px;
}

.main:before {
    content: '';
    content: '';
    background: #272727;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

i {
    position: absolute;
    right: 0;
    color: #e8ab43;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 22px;
}

i:hover {
    cursor: pointer;
}